<body class="dashboard">

  <div class="dashboard-header">
    <h1>Dashboard Home</h1>
  </div>

  <div class="user-info">
    <div class="all-info">
      <div class="avatar">
        <li><%= image_tag @user.avatar_url %></li>
        <li><%= link_to @user.username, 'https://github.com/xbell' %></li>
      </div>
      <div class="info">
        <li>Location: <%= @client.user.location %></li>
        <li>Followers: <%= @client.user.followers %></li>
        <li>Following: <%= @client.user.following %></li>
        <!-- <li>Public Gists: <%= @client.user.public_gists %></li>
        <li>Public Repos: <%= @client.user.public_repos %></li> -->
        <li>Total Repos Collaborated: <%= @client.user.collaborators %></li>
        <li>Total Repos Collaborated On:
          <% c = 0 %>
          <% r = 0 %>
          <% @client.repos.each do |collabs| %>
            <% if @client.collaborators("#{@user.username}/#{@client.repos[r].name}").count > 1 %>
              <% c += 1 %>
              <% r += 1 %>
            <% else %>
              <% r += 1 %>
            <% end %>
          <% end %>
          <%= c %>
        </li>
        <li>Total Gists: <%= @client.gists.count %></li>
        <li>Total Private Repos: <%= @client.user.owned_private_repos %></li>
        <li>Total Repos: <%= @client.repos.count %></li>
      </div>
    </div>
  </div>

  <div class="last-10">
    <ol>
      <% sorted = @client.repos.sort_by &:created_at %>
      <% last_ten = sorted.last(10) %>
      <% last_ten.each do |n| %>
        <li><%= n.name.capitalize %></li>
      <% end %>
    </ol>
  </div>

  <div class="chart-container" id="chart-container">
    <div class="lang-chart" id="lang-chart">

    </div>

  </div>
